<div id="providerDirectory">
  <h2 id="providerDirectoryTitle">Provider Directory</h2>
  <h5>v2.0</h5>
  <div id="createProvider">
    <h4 id="createProviderTitle">Create Provider</h4>
    <form name="addForm" onsubmit="this.reset()">
      <label>Last Name<br><input type="text" ng-model="provider.last_name" required/></label><br />
      <label>First Name<br><input type="text" ng-model="provider.first_name" required/></label><br />
      <label>Email Address<br><input type="email" ng-model="provider.email_address" required/></label><br />
      <label>Specialty<br><input type="text" ng-model="provider.specialty" /></label><br />
      <label>Practice Name<br><input type="text" ng-model="provider.practice_name" /></label><br />
      <button id="addButton" ng-click="addForm.$valid && $ctrl.addProvider(provider); addForm.$valid = false;">Add</button>
    </form>
  </div>
  <div id="providerList">
    <h4 id="providerListTitle">Provider List</h4>
    <div id="tableControls">
      <div id="search">
        Search:
        <input ng-model="$ctrl.query">
      </div>
      <div id="sortContainer">
        <div id="order">
          Sort by:
          <select ng-model="$ctrl.orderProp">
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="email_address">Email Address</option>
            <option value="specialty">Specialty</option>
            <option value="practice_name">Practice Name</option>
          </select>
        </div>
        <div id="direction">
          <label ng-repeat="orderDirection in ['Ascending', 'Descending']" for="{{orderDirection}}">
            <input type="radio"
                   ng-model="$ctrl.orderDirection"
                   ng-value="orderDirection"
                   id="{{orderDirection}}"
                   name="orderDirection"/>
            {{orderDirection}}<br>
          </label>
        </div>
      </div>
    </div>
    <div id="tableContainer">
      <table id="providerTable">
        <tr ng-repeat="provider in $ctrl.providers | filter:$ctrl.query | orderBy:$ctrl.orderProp:($ctrl.orderDirection === 'Ascending')">
          <td class="col1">
            <input type="checkbox" ng-model="provider.checked">
          </td>
          <td class="col2">
            <div id="providerName">{{provider.last_name}}, {{provider.first_name}}</div>
            <div>{{provider.email_address}}</div>
          </td>
          <td class="col3">
            <div>{{provider.specialty}}</div>
            <div>{{provider.practice_name}}</div>
          </td>
        </tr>
      </table>
    </div>
    <button id="removeButton" ng-click="$ctrl.removeCheckedProviders()">Remove</button>
  </div>
</div>