body {
  padding-top: 20px;
}

div#provider-list {
    overflow: auto;
}

#listManipulation {
  height: 100%;
  width:100%;
}

#search, #order, #direction {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

#search {
  width: 33%;
  align; left;
}

#order {
  width: 34%;
  align: right;
}

#direction {
  width: 33%;
  align: left;
}

table, th, td {
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF
}

div#providerName {
  font-size: large;
  font-weight: bold;
}