* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 10px 10px 10px 10px;
}

#providerDirectory {
  padding: 10px 10px 10px 10px;
  height: 420px;
  width: 800px;
  background: #CCC;
}

#providerDirectoryTitle {
  font-weight: bold;
}

#createProvider, #providerList {
  padding: 10px 10px 10px 10px;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
  background: #FFF;
  height: 310px;
}

#createProvider {

}

#providerList {
  width: 600px;
}

#tableControls {
}

#search, #sortContainer {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}

#search {
  float; left;
}

#sortContainer {
  float: right;
}

#tableContainer {
  padding-bottom: 10px;
  clear: left;
  clear: right;
  height: 170px;
  width: 600;
  overflow: auto;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.col1 {
  width: 6%;
  vertical-align: top;
  text-align: center;
}

.col2 {
  width: 40%
  text-align: left;
}

.col3 {
  padding-right: 10px;
  text-align: right;
}

.message {
  font-size: 14px;
  font-style: italic;
}

tr {
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF;
}

#providerName {
  font-size: 16px;
  font-weight: bold;
}

#removeButton {
  float: right;
}